body{
    background-color: rgb(226, 248, 240);
    font-size: 35px;
    font-family: gill sans;
    font-weight: bolder;
}
.f{background-color: rgb(247, 245, 243);}
p{margin: -2px 0;}
.b{
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 2px 5px;
    color: white;
    font-size: 30px;
    font-family: fantasy;
}
.b:hover{background-color: rgb(206, 1, 1);}
.b:active{background-color: rgb(253, 16, 16);}
img{
    float: left;
    padding: 0 20px 0 0;
}
div{
    margin: 5px 0;
    padding: 2px 0;
}